body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
    color: #333;
}

header {
    background-color: #0078d7;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

section {
    padding: 30px;
    max-width: 800px;
    margin: auto;
}

h2 {
    color: #0078d7;
    border-bottom: 2px solid #0078d7;
    padding-bottom: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #e6f0ff;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
}

a {
    color: #0078d7;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

footer {
    background: #0078d7;
    color: white;
    text-align: center;
    padding: 15px;
}
